<!--div *ngIf="node.firstNode">
    <img src="./assets/up.png" title="Swap up node" (click)="upNode()"/>
</div-->
<div id="{{ node.id }}" class="node" [style]="node.style | safe">

    <div [style]="node.styleTitle | safe" (click)="clickExpandCollapse()">
        <div class="title" [innerHtml]="node.title"></div>
    </div>

    <div [style]="node.styleContent | safe">
        <div class="description" [innerHtml]="node.content"></div>
    </div>
</div>
<!--div *ngIf="node.lastNode">
    <img src="./assets/down.png" title="Swap down node" (click)="downNode()"/>
</div-->
