<div id="{{ node.id }}" class="node" [style]="node.style | safe">
    <div style="width: 100%; height: 10%;">
        <button title="Swap up node" (click)="upNode()">^</button>
    </div>
    <div style="height: 80%;">
        <div style="float: left; width: 10%;">
            <button title="Swap left node" (click)="leftNode()"><</button>
        </div>
        <div style="float: left; width: 80%;">
            <div [style]="node.styleTitle | safe" (click)="clickExpandCollapse()">
                <div class="title" [innerHtml]="node.title"></div>
            </div>

            <div [style]="node.styleContent | safe">
                <div class="description" [innerHtml]="node.content"></div>
            </div>
        </div>
        <div style="float: left; width: 10%;">
            <button title="Swap right node" (click)="rightNode()">></button>
        </div>
    </div>
    <div style="width: 100%; height: 10%;">
        <button title="Swap down node" (click)="downNode()">v</button>
    </div>
</div>
